
<%= form_for(@checklist,:remote => true) do |f| %>
  
  <div class="field">
    <%= f.text_field :description, class: 'form-control' %>
  </div>  
  <%= f.hidden_field :task_id, :value => @task %>
  
<% end %>

